.box {
    width: 400px;
    padding: 40px;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    background: var(--darkblue);
    box-shadow: 0 15px 25px var(--darkblue);
    border-radius: 40px;
}

li.participants {
  list-style-type: none;
  color: var(--white);
  text-align: left;
  display:flex;
  margin-left: 5%;
  margin-bottom: 5px;
}

li#participants {
    list-style-type: none;
    color: var(--white);
    text-align: center;
    display:flex;
    margin-left: 5%;
    margin-bottom: 5px;
}

li#participants #text{
  justify-content: center;
  color: var(--gold);
}



.checkbox #label{
  color: var(--white);
  margin-left: 10px;
  text-decoration: solid;
}
  
.box h2 {
    color: var(--white);
    text-align: center;
}
  

.box .field {
    position: relative;
}
  
.box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: var(--white);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid var(--white);
    outline: none;
    background: transparent;
}

.box .field label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: var(--white);
    pointer-events: none;
    transition: 1s;
}

.box .listeDeroulante {
    top:0;
    left: 0;
    padding-bottom: 10px 0;
    font-size: 16px;
    color: var(--white);
    pointer-events: none;
    transition: 1s;
    display: flex;
    flex-direction: column;
}

.box label.listeDeroulante {
    text-align: left;
    top: -20px;
    left: 0;
    color: var(--gold);
    font-size: 12px;
  }

  .box select {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .box .participants {
    top:0;
    left: 0;
    padding-bottom: 10px 0;
    font-size: 16px;
    color: var(--white);
    pointer-events: none;
    transition: 1s;
    display: flex;
    flex-direction: column;
  }

  .box label.participants {
    text-align: left;
    top: -20px;
    left: 0;
    color: var(--gold);
    font-size: 12px;
  }

  .box ul {
    padding-top: 10px;
  }
  .box ul {
    color: var(--white);
  }
 
  .box .field input:focus ~ label,
  .box .field input:valid ~ label {
    top: -20px;
    left: 0;
    color: var(--gold);
    font-size: 12px;
  }


.showbox {
  width: 400px;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: flex;
  background: var(--darkblue);
  box-shadow: 0 15px 25px var(--darkblue);
  border-radius: 40px;
  justify-content: center;
  margin-bottom: 40px;
}

.showbox h2 {
  padding: 0;
  color: var(--white);
  text-align: center;
}

.showbox .field {
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.showbox .field label {
  width: 100%;
  font-size: 16px;
  color: var(--gold);
  text-align: left;
  border: none;
  outline: none;
  background: transparent;
  top:0;
  left: 0;
  transition: 1s;
}

.showbox .field .data{
  width: 100%;
  font-size: 16px;
  color: var(--white);
  text-align: left;
  border: none;
  border-bottom: 1px solid var(--white);
  outline: none;
  background: transparent;
  top:0;
  left: 0;
  padding-top: 10px;
  padding-bottom: 5px;
  transition: 1s;
}

.showbox li#participants {
  padding-top: 10px;
  padding-bottom: 10px 0;
  font-size: 16px;
  color: var(--white);
  pointer-events: none;
  transition: 1s;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.showbox label.participants{
  font-size: 16px;
  color: var(--gold);
}

.box button.addbutton {
  background: var(--gold);  
}
