@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&family=Montserrat:ital,wght@0,400;0,600;1,400&display=swap');

:root {
  --width: 90%;
  --black: #000;
  --darkblue: #3B4D69;
  --gold: #F8BD49;
  --white: #FFF;
}


* {
  font-family: Montserrat, sans-serif;

  margin: 0;
  padding: 0;
}

h1 {
  font-size: x-large;
}

h2 {
  font-size: large;
}

p {
  font-size: small;
}

button {
  font-size: medium;
}